<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alta nuevo usuario</title>
    <link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
	integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
	crossorigin="anonymous">
<link rel="stylesheet" href="../static/stilos.css">
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
</head>
<body>
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
       <i class="far fa-address-card"></i>
       <a class="navbar-brand" th:href="@{/}"> Agenda</a>
   </nav>
    <main role="main" class="flex-shrink-0">
		<div class="container">
		    <h1>Crear un contacto nuevo</h1>
			
			<form th:action="@{/createuser}" th:object="${persona}"
				method="post">
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="inputNombre">Nombre</label>
						<input type="text" class="form-control" id="inputNombre" placeholder="Nombre" th:field="*{nombre}">
					</div>
					<div class="form-group col-md-6">
						<label for="inputApellido1">Primer Apellido</label>
						<input type="text" class="form-control" id="inputApellido1" placeholder="Primer apellido" th:field="*{apellido1}">
					</div>
					<div class="form-group col-md-6">
						<label for="inputApellido2">Segundo Apellido</label>
						<input type="text" class="form-control" id="inputApellido2" placeholder="Segundo apellido" th:field="*{apellido2}">
					</div>
					<div class="form-group col-md-6">
						<label for="inputDni">DNI</label>
						<input type="text" class="form-control" id="inputDni" placeholder="DNI" th:field="*{dni}">
					</div>
					<div class="form-group col-md-6">
						<label for="inputFechadenacimiento">Fecha de nacimiento</label>
						<input type="text" class="form-control" id="inputFechadenacimiento" placeholder="Fecha de nacimiento" th:field="*{fechanacimiento}">
					</div>
					<div class="form-group col-md-6">
						<label for="inputTelefono">Telefono</label>
						<input type="text" class="form-control" id="inputTelefono" placeholder="Telefono" th:field="*{telefonos}">
					</div>
					<div class="form-group col-md-6">
					    <select class="form-control">
                              <option>Seleccione provincia</option>
                              <option>Álava (Araba)(País Vasco,ES)</option>
                              <option>Albacete (Castilla-La Mancha,ES)</option>
                              <option>Alicante (Comunidad Valenciana,ES)</option>
                              <option>Almería (Andalucía,ES)</option>
                              <option>Asturias (Principado de Asturias,ES)</option>
                              <option>Ávila (Castilla y León,ES)</option>
                              <option>Badajoz (Extremadura,ES)</option>
                              <option>Barcelona (Cataluña,ES)</option>
                              <option>Burgos (Castilla y León,ES)</option>
                              <option>Cáceres (Extremadura,ES)</option>
                              <option>Cádiz (Andalucía,ES)</option>
                              <option>Cantabria (Cantabria,ES)</option>
                              <option>Castellón (Comunidad Valenciana,ES)</option>
                              <option>Ciudad Real (Castilla-La Mancha,ES)</option>
                              <option>Córdoba (Andalucía,ES)</option>
                              <option>Cuenca (Castilla-La Mancha,ES)</option>
                              <option>Córdoba (Andalucía,ES)</option>
                              <option>Gerona (Girona) (Cataluña,ES)</option>
                              <option>Granada (Andalucía,ES)</option>
                              <option>Guadalajara (Castilla-La Mancha,ES)</option>
                              <option>Guipúzcoa (Gipuzkoa) (País Vasco,ES)</option>
                              <option>Huelva (Andalucía,ES)</option>
                              <option>Huesca (Aragon,ES)</option>
                              <option>Islas Baleares (Islas Baleares,ES)</option>
                              <option>Jaén (Andalucía,ES)</option>
                              <option>La Coruña (A Coruña) (Galicia,ES)</option>
                              <option>La Rioja (La Rioja,ES)</option>
                              <option>Las Palmas (Canarias,ES)</option>
                              <option>León (Castilla y León,ES)</option>
                              <option>Lérida (Lleida) (Cataluña,ES)</option>
                              <option>Madrid (Comunidad de Madrid,ES)</option>
                              <option>Málaga (Andalucía,ES)</option>
                              <option>Murcia (Región de Murcia,ES)</option>
                              <option>Navarra (Comunidad Foral de Navarra,ES)</option>
                              <option>Orense (Ourense) (Galicia,ES)</option>
                              <option>Palencia (Castilla y León,ES)</option>
                              <option>Pontevedra (Galicia,ES)</option>
                              <option>Salamanca (Castilla y León,ES)</option>
                              <option>Segovia (Castilla y León,ES)</option>
                              <option>Sevilla (Andalucía,ES)</option>
                              <option>Soria (Castilla y León,ES)</option>
                              <option>Tarragona (Cataluña,ES)</option>
                              <option>Tenerife (Canarias,ES)</option>
                              <option>Teruel (Aragon,ES)</option>
                              <option>Toledo (Castilla-La Mancha,ES)</option>
                              <option>Valencia (Comunidad Valenciana,ES)</option>
                              <option>Valladolid (Castilla y León,ES)</option>
                              <option>Vizcaya (Bizkaia) (País Vasco,ES)</option>
                              <option>Zamora (Castilla y León,ES)</option>
                              <option>Zaragoza (Aragon,ES)</option>       
                        </select>
					</div>
				</div>
				<button type="submit" class="btn btn-primary" th:text="${persona.id} ? 'Editar': 'Crear'">Crear</button>
			</form>
		</div>
	</main>
	
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>