<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<title>Alta nuevo usuario</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
	integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
	crossorigin="anonymous">
<link rel="stylesheet" href="stilos.css">
<link href="https://fonts.googleapis.com/css?family=Lobster"
	rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<i class="far fa-address-card"></i> <a class="navbar-brand"
			th:href="@{/}"> Agenda</a>
	</nav>
	<main role="main" class="flex-shrink-0">
	<div class="container">
		<h1>Crear una provincia nueva</h1>

		<form th:action="@{/createProvincia}" th:object="${provincia}"
			method="post">
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputNombre">Nombre</label> <input type="text"
						class="form-control" id="inputNombre" placeholder="Nombre"
						th:field="*{provincia}">
				</div>
				<div class="form-group col-md-6">
					<label for="inputApellido1">Id Provincia</label> <input type="text"
						class="form-control" id="inputApellido1"
						placeholder="Id Provincia" th:field="*{idprovincia}">
				</div>
			</div>
			<button type="submit" class="btn btn-primary"
				th:text="${provincia.idprovincia} ? 'Editar': 'Crear'">Crear</button>
		</form>
	</div>
	</main>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>